.altPromo {
	padding: 0;
	cursor: pointer;
	float: left;
	_width: 305px;
}

.altPromo .frame {
	display: block;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 8px;
	margin: 0 9px 5px 0;
	padding: 4px;
}
.altPromo .frame:hover {
	background-color: #12C0D9;
	border: 1px solid #12C0D9;
}
.altPromo.hover .frame {
	background-color: #12C0D9;
	border: 1px solid #12C0D9;
}

.altPromo .frame img {
	border: 1px solid #FFFFFF;
} 

.altPromo .info {
	display: block;
	text-align: left;
	width: 127px;
}

.altPromo .info {
	font-weight: bold;
}

.altPromo .title .a2{
	color: #47CCDB;
	font-weight: bold;
	margin: 0;
	font-size: 16px;
}

.altPromo.hover .title a {
	border-bottom: 1px solid #28c5d7;
}

.noBorder .frame{
	border: none;
}

.noBorder:hover .frame {
	border: none;
}