.horizontalAccordion{
	background: #fff;
	list-style: none;
	padding: 0;
	*width: 990px;
}

.horizontalAccordion li{
	float: left;
	display: block;
	overflow: hidden;
	height: 140px;
	color: #2e2e2e;
}

.horizontalAccordion .open{
    padding: 24px 0 0 24px;
    width: 391px;
    background:#fdfdfd;
    -moz-box-shadow: inset 0 0 2px 2px #ddd;
    -webkit-box-shadow: inset 0 0 2px 2px #ddd;
    box-shadow: inset 0 0 2px 2px #ddd;
    *border: 2px solid #ddd;
    *box-shadow: none;
    *height: 136px;
    *width: 387px;
}

.horizontalAccordion .closed{
    padding: 24px 24px 0 24px;
    width: 127px;
    background: #fff;	
}

.horizontalAccordion .open .description2{
    display:block;
    font-size: 12px;
}
.horizontalAccordion .open .info{
    width: 245px;
    font-weight: normal;	
}
.horizontalAccordion .open .altPromo{
    width: 391px;
    *width: 385px;
}
.horizontalAccordion .open .sponsor{
    font-size: 11px;
    padding: 0 0 2px 0;
}


.horizontalAccordion .closed .description2{
    display:none;
}
.horizontalAccordion .closed .sponsor{
    display:none;
}
.horizontalAccordion .closed .title .a2{
    font-size: 12px;
}
.horizontalAccordion .closed .info{
    clear:both;
    font-weight: normal;   
}