<config>
	<settings>
		<instructions>assets/video/Instructions.flv</instructions>
		<crop>3</crop>
		<!-- The number of each banana needed to be collected -->
		<bananasNeeded>15</bananasNeeded>
		<!-- The number of each ingredient needed to be collected -->
		<ingredientsNeeded>12</ingredientsNeeded>
		<!-- The probability of the 'correct' ingredient being spawned. Higher is more likely. -->
		<targetIngredientWeight>30</targetIngredientWeight>
		<!-- The probability of the 'other' ingredients being spawned. Higher is more likely.-->
		<otherIngredientWeight>7</otherIngredientWeight>
	</settings>
	<assets>
				
		<!-- Assets for the main section -->
		<section id="preloader">
			<asset id="audio_loops" src="assets/swfs/background_audio_loops.swf" />
			<asset id="mainSection" src="assets/swfs/main.swf" />
			<asset id="views" src="assets/swfs/views.swf" />
			<asset id="gameplay_views" src="assets/swfs/gameplay_views.swf" />
			<asset id="pizza_build_views" src="assets/swfs/pizza_build_views.swf" />
		</section>

		<!-- Assets for the game itself -->
		<section id="game">
			<asset id="bg" src="assets/images/background-tile.jpg" />
		</section>
		
		<!-- Sounds -->
		<sounds base="assets/sounds">
			<pool id="button" base="voice_over/buttons">
				<asset id="back" src="back.mp3" overlap="noPlay" />
				<asset id="next" src="next.mp3" overlap="noPlay" />
				<asset id="play_again" src="play_again.mp3" overlap="noPlay" />
				<asset id="play" src="play.mp3" overlap="noPlay" />
				<asset id="print" src="print.mp3" overlap="noPlay" />
				<asset id="skip" src="skip.mp3" overlap="noPlay" />
			</pool>
			<pool id="title" base="voice_over/title">
				<asset id="fbb" src="k1.mp3" overlap="noPlay" />
				<asset id="giant_pizza" src="k2.mp3" overlap="noPlay" />
				<asset id="click_play" src="k2a.mp3" overlap="noPlay" />				
			</pool>
			<pool id="instruction" base="voice_over/instruction">
				<asset id="click_play" src="click_play_to_start.mp3" overlap="noPlay" />
			</pool>
			<pool id="introduction" base="voice_over/introduction">
				<asset id="group_line" src="GROUP LINE.mp3" overlap="noPlay" />
				<asset id="k3" src="k3.mp3" overlap="noPlay" />
				<asset id="t3a" src="t3a.mp3" overlap="noPlay" />
				<asset id="t4" src="t4.mp3" overlap="noPlay" />
				<asset id="k4" src="k4.mp3" overlap="noPlay" />
				<asset id="k5" src="k5.mp3" overlap="noPlay" />
				<asset id="k5a" src="k5a.mp3" overlap="noPlay" />
				<asset id="m1c" src="m1c.mp3" overlap="noPlay" />
				<asset id="m3" src="m3.mp3" overlap="noPlay" />
				<asset id="s1c" src="s1c.mp3" overlap="noPlay" />
				<asset id="s2" src="s2.mp3" overlap="noPlay" />
			</pool>
			<pool id="bananaSingle" base="voice_over/banana_collect">
				<asset id="t11" src="t11.mp3" overlap="noPlay" />
			</pool>
			<pool id="bananaBunch" base="voice_over/banana_collect">
				<asset id="k11" src="k11.mp3" overlap="noPlay" />
				<asset id="t11" src="t11.mp3" overlap="noPlay" />
			</pool>
			<pool id="fx" base="fx">
				<asset id="forklift_crane_loop" src="forklift_crane_loop.mp3" overlap="noPlay" />
				<asset id="grab_correct" src="grab_correct.mp3" maxVolume=".5" />
				<asset id="grab_incorrect" src="grab_incorrect.mp3" maxVolume=".5" />
				<asset id="hit_banana" src="hit_banana.mp3" />
			</pool>
			<pool id="gameplay" base="voice_over/gameplay">
				<asset id="yohoho" src="m21.mp3" overlap="noPlay" />
				<asset id="avoid_intro" src="avoid_intro.mp3" overlap="noPlay" />
				<asset id="bananas" src="bananas.mp3" overlap="noPlay" />
				<asset id="bananas_start" src="bananas_start.mp3" overlap="noPlay" />
				<asset id="cheese_sing" src="cheese_sing.mp3" overlap="noPlay" />
				<asset id="cheese_start" src="cheese_start.mp3" overlap="noPlay" />
				<asset id="faster" src="faster.mp3" overlap="noPlay" />
				<asset id="mushrooms_sing" src="mushroom_sing.mp3" overlap="noPlay" />
				<asset id="mushrooms_start" src="mushroom_start.mp3" overlap="noPlay" />
				<asset id="onions_sing" src="onions_sing.mp3" overlap="noPlay" />
				<asset id="onions_start" src="onions_start.mp3" overlap="noPlay" />
				<asset id="pepperoni_sing" src="pepperoni_sing.mp3" overlap="noPlay" />
				<asset id="pepperoni_start" src="pepperoni_start.mp3" overlap="noPlay" />
				<asset id="sauce_sing" src="sauce_sing.mp3" overlap="noPlay" />
				<asset id="sauce_start" src="sauce_start.mp3" overlap="noPlay" />
				<asset id="whoa" src="whoa.mp3" overlap="noPlay" />
			</pool>
			<pool id="gameplay_inactivity" base="voice_over/gameplay_inactivity">
				<asset id="0" src="k9a.mp3" />
				<asset id="1" src="k10.mp3" />
				<asset id="2" src="m7.mp3" />
				<asset id="3" src="s5.mp3" />
				<asset id="4" src="t6.mp3" />
			</pool>

			<pool id="collect" base="voice_over/ingredient_collect">
				<asset id="k12" src="k12.mp3" overlap="noPlay" />
				<asset id="k13" src="k13.mp3" overlap="noPlay" />
				<asset id="m13" src="m13.mp3" overlap="noPlay" />
				<asset id="m14" src="m14.mp3" overlap="noPlay" />
				<asset id="s9" src="s9.mp3" overlap="noPlay" />
				<asset id="t13" src="t13.mp3" overlap="noPlay" />
				<asset id="m16" src="m16.mp3" overlap="noPlay" />
			</pool>
			<pool id="collide" base="voice_over/collide">
				<asset id="k14" src="k14.mp3" overlap="noPlay" />
				<asset id="k15" src="k15.mp3" overlap="noPlay" />
				<asset id="m15" src="m15.mp3" overlap="noPlay" />
				<asset id="t14" src="t14.mp3" overlap="noPlay" />
			</pool>
			<pool id="collide_extended" base="voice_over/collide_extended">
				<asset id="k16" src="k16.mp3" overlap="noPlay" />
				<!-- <asset id="t15" src="t15.mp3" overlap="noPlay" /> -->
			</pool>

			<pool id="assemble" base="voice_over/assemble">
				<asset id="k18" src="k18.mp3" overlap="noPlay" />
				<asset id="k19" src="k19.mp3" overlap="noPlay" />
				<asset id="s12" src="s12.mp3" overlap="noPlay" />
				<asset id="m18" src="m18.mp3" overlap="noPlay" />
				<asset id="s13" src="s13.mp3" overlap="noPlay" />
				<asset id="m19" src="m19.mp3" overlap="noPlay" />
				<asset id="s14" src="s14.mp3" overlap="noPlay" />
				<asset id="k20" src="k20.mp3" overlap="noPlay" />
			</pool>

			<pool id="performance" base="voice_over/performance" overlap="playNew">
				<asset id="k51" src="k51.mp3" overlap="playNew" />
				<asset id="intro" src="intro.mp3" overlap="playNew" />
				<asset id="cheese" src="sing_cheese.mp3" overlap="playNew" />
				<asset id="mushrooms" src="sing_mushrooms.mp3" overlap="playNew" />
				<asset id="onions" src="sing_onions.mp3" overlap="playNew" />
				<asset id="pepperoni" src="sing_pepperoni.mp3" overlap="playNew" />
				<asset id="sauce" src="sing_sauce.mp3" overlap="playNew" />
				<asset id="banana" src="sing_bananas.mp3" overlap="playNew" />
			</pool>
			<pool id="p_music" base="music">
				<asset id="performance_bg" src="performance_bg.mp3" maxVolume=".6" />
				<asset id="performance_kiki" src="performance_kiki.mp3" />
				<asset id="performance_marina" src="performance_marina.mp3" />
				<asset id="performance_shout" src="performance_shout.mp3" />
				<asset id="performance_twist" src="performance_twist.mp3" />
			</pool>

			<pool id="end" base="voice_over/end">
				<asset id="click_play_again" src="click_play_again.mp3" />
				<asset id="click_print" src="click_print.mp3" />
				<asset id="inactivity_print" src="inactivity_print.mp3" />
				<asset id="intro" src="intro.mp3" />
				<asset id="lets_go" src="lets_go.mp3" />
			</pool>

			
		</sounds>
	</assets>
</config>